.navBarss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}

.navlinkss{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 70px;
    width: 75%;
    text-decoration: none;
}

.navlinkss li{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.LinksCustomizations{
    text-decoration: none;
    color: black;
}

.rowdw{
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
}